body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass \\Users\\trav\\Sites\\projects\\livewires-mixture\\source\\scss\\trumps\\guide.scss:7: 0.875\\\\rem is not a valid CSS value \A '; } 
                            
                            body * { 
                            display: none; 
                            } 