@font-face {
  font-family: 'BLOKKNeue';
  src: url('../fonts/BLOKKNeue-Regular.eot');
  src: url('../fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BLOKKNeue-Regular.woff') format('woff'), url('../fonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 18, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.wf-loading .logo, .wf-loading p, .wf-loading h1, .wf-loading h2, .wf-loading h3, .wf-loading h4, .wf-loading h5, .wf-loading h6, .wf-loading li, .wf-loading dt, .wf-loading dd, .wf-loading td, .wf-loading th, .wf-loading small {
  visibility: hidden !important; }

/* line 24, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 29, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  text-align: left;
  text-indent: -999em;
  overflow: hidden; }
  /* line 37, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
  .ir br {
    display: none; }

/* line 41, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.hide {
  display: none; }

/* line 44, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.hidden {
  display: none;
  visibility: hidden; }

/* line 50, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  /* line 63, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* line 75, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.invisible {
  visibility: hidden; }

/* line 78, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.pull-right {
  float: right; }

/* line 81, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.pull-left {
  float: left; }

/* line 84, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.clear {
  clear: both; }

/* line 93, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.group, .clearfix, .grid, .combined-grid {
  zoom: 1; }
  /* line 97, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
  .group:before, .clearfix:before, .grid:before, .combined-grid:before, .group:after, .clearfix:after, .grid:after, .combined-grid:after {
    content: " ";
    display: table; }
  /* line 102, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
  .group:after, .clearfix:after, .grid:after, .combined-grid:after {
    clear: both; }

/* line 114, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.swatch p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 121, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.text-left {
  text-align: left; }

/* line 124, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.text-right {
  text-align: right; }

/* line 127, /Users/trav/Sites/projects/livewires-mixture/source/scss/settings/helpers */
.text-center {
  text-align: center; }

/* line 21, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.primary * {
  font-family: Georgia, serif; }

/* line 24, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.secondary * {
  font-family: sans-serif; }

/* line 30, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color1 {
  background: #FFFFFF; }

/* line 31, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color2 {
  background: #DDDDDD; }

/* line 32, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color3 {
  background: #AAAAAA; }

/* line 33, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color4 {
  background: #666666; }

/* line 34, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color5 {
  background: #333333;
  color: #DDDDDD; }

/* line 35, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color6 {
  background: #d13731; }

/* line 36, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.color7 {
  background: #44b3e1; }

/* line 50, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.logo {
  margin-bottom: 0; }
  /* line 52, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .logo img {
    width: 100%;
    max-width: 240px; }
  /* line 56, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .logo span {
    display: block; }

/* line 63, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.horizontal-nav--guide {
  padding-top: 0; }
  /* line 65, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .horizontal-nav--guide ul {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.2s linear;
    transition: max-height 0.2s linear; }
    /* line 70, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .horizontal-nav--guide ul.opened {
      max-height: 2000px; }
  /* line 74, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .horizontal-nav--guide a {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1; }

/* line 87, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.pg-brand .primary__brand a, .pg-usage .primary__usage a, .pg-grid .primary__grid a, .pg-elements .primary__elements a, .pg-modules .primary__modules a, .pg-components .primary__components a, .pg-templates .primary__templates a {
  color: #FFFFFF;
  cursor: default; }

/* line 93, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.main .horizontal-nav--guide {
  margin: 1.5rem 0; }

/* line 97, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.header {
  padding-top: 1.5rem; }

/* line 103, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
p, dd {
  max-width: 48em; }

/* line 107, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
figure p, .colors p {
  max-width: none; }

/* line 110, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.more {
  clear: both; }

/* line 117, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.type-sample p {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.25rem;
  letter-spacing: 0.1em; }

/* line 125, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.colors {
  background: #fff; }

/* line 128, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.swatch {
  position: relative;
  display: block;
  height: 7.5rem;
  text-align: center;
  font-family: sans-serif; }

/* line 142, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.iconset ul {
  list-style: none; }

/* line 152, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grids .container hr {
  clear: both; }
/* line 156, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grids .folding {
  margin-bottom: 24;
  height: 15rem;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem; }
  /* line 162, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grids .folding span {
    display: block;
    width: 100%;
    height: 15rem;
    background: #333333; }
/* line 169, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grids h2 {
  clear: both; }

/* line 177, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--3-6-12 .three {
  width: 33.33333%;
  display: block !important; }
/* line 182, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--3-6-12 .six, .grid.grid--3-6-12 .twelve {
  display: none; }
/* line 187, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--2-4-8 .two {
  width: 50%;
  display: block !important; }
/* line 192, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--2-4-8 .four, .grid.grid--2-4-8 .eight {
  display: none; }
/* line 197, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--3-5-7 .three {
  width: 33.33333%;
  display: block !important; }
/* line 202, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--3-5-7 .five, .grid.grid--3-5-7 .seven {
  display: none; }
/* line 207, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--4-8-16 .four {
  width: 25%;
  display: block !important; }
/* line 212, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.grid.grid--4-8-16 .eight, .grid.grid--4-8-16 .sixteen {
  display: none; }

/* line 218, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.combined-grid {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 0; }
  /* line 226, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .combined-grid .grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0.3;
    padding: 0 !important; }

/* line 238, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.scale {
  max-width: 30em; }
  /* line 241, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .scale td {
    padding: 0; }

/* line 245, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
.key {
  font-weight: 700; }

@media only screen and (min-width: 48em) {
  /* line 250, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .logo {
    float: left;
    margin-top: 0; }
    /* line 254, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .logo span {
      display: inline; }

  /* line 258, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .tagline {
    float: left;
    margin-top: 1rem; }

  /* line 262, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .horizontal-nav {
    clear: both; }
    /* line 264, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .horizontal-nav .trigger {
      display: none; }
    /* line 267, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .horizontal-nav ul {
      max-height: none; }

  /* line 271, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .paragraphs {
    width: 75%; }

  /* line 275, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .type-sample p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5; }

  /* line 279, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .iconset {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 50%;
    float: left; }

  /* line 284, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .secondary-nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 20%; }

  /* line 289, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .primary-content {
    width: 80%; }

  /* line 292, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grid {
    padding: 0 !important; }
    /* line 296, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--2-4-8 .four {
      width: 25%;
      display: block !important; }
    /* line 300, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--2-4-8 .eight {
      display: none; }
    /* line 305, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--3-5-7 .five {
      width: 20%;
      display: block !important; }
    /* line 309, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--3-5-7 .seven {
      display: none; }
    /* line 314, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--3-6-12 .six {
      width: 16.66667%;
      display: block !important; }
    /* line 318, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--3-6-12 .twelve {
      display: none; }
    /* line 323, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--4-8-16 .eight {
      width: 12.5%;
      display: block !important; }
    /* line 327, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .grid.grid--4-8-16 .sixteen {
      display: none; }

  /* line 333, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .callouts .callout {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    float: left;
    width: 50%; }
    /* line 338, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .callouts .callout:nth-child(odd) {
      clear: both; }
 }

@media only screen and (min-width: 64em) {
  /* line 346, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .split-content {
    width: 50%;
    float: left; }

  /* line 350, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .primary-content {
    margin-left: 0; }
 }

@media only screen and (min-width: 98em) {
  /* line 356, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .type-sample p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5; }

  /* line 360, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .paragraphs {
    width: 50%; }

  /* line 363, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .iconset {
    width: 33.33333%; }
 }

@media only screen and (min-width: 110em) {
  /* line 372, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grid.grid--2-4-8 .eight {
    width: 12.5%;
    display: block !important; }
  /* line 378, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grid.grid--3-5-7 .seven {
    width: 14.28571%;
    display: block !important; }
  /* line 384, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grid.grid--3-6-12 .twelve {
    width: 8.33333%;
    display: block !important; }
  /* line 390, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .grid.grid--4-8-16 .sixteen {
    width: 6.25%;
    display: block !important; }

  /* line 397, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
  .callouts .callout {
    width: 25%; }
    /* line 400, /Users/trav/Sites/projects/livewires-mixture/source/scss/pages/guide.scss */
    .callouts .callout:nth-child(odd) {
      clear: none; }
 }

