<header class="header">
	<div class="container">
		<a href="/" class="logo">{{ global.title }}</a>
		<nav class="primary-nav">
			<ul>
				<li><a href="/example/">Example</a></li>
			</ul>
		</nav>
	</div>
</header>