<header class="header row">
	<div class="container">
		<h1><a href="/" class="logo">{{ global.title }}</a></h1>
		<nav class="horizontal-nav">
			<ul>
        <li><a href="/guide/index">Guide</a></li>
				<li><a href="/example/">Example</a></li>
			</ul>
		</nav>
	</div>
</header>