<header class="row row--header subtle">
		<h1><a href="index" class="logo">{{ global.title }}</a></h1>
		<nav class="horizontal-nav">
			<ul>
        <li><a href="/">Home</a></li>
        <li><a href="example/">Example template</a></li>
        <li><a href="guide/usage">Live Wires Guide</a></li>
			</ul>
		</nav>
</header>