<header class="header subtle">
	<div class="container">
		<h1><a href="index" class="logo">{{ global.title }}</a></h1>
		<nav class="horizontal-nav">
			<ul>
        <li><a href="index">Nav Item 1</a></li>
        <li><a href="index">Nav Item 2</a></li>
        <li><a href="example/">Example template</a></li>
        <li><a href="guide/usage">Live Wires Guide</a></li>
			</ul>
		</nav>
	</div>
</header>