<nav class="offcanvas reverse">
    <h1><a href="/" class="logo">{{ global.title }}</a></h1>
    <ul>
        <li><a href="/guide/typography/">Typography</a></li>
        <li><a href="/guide/grids/">Grids</a></li>
        <li><a href="/guide/forms/">Forms</a></li>
        <li><a href="/guide/tables/">Tables</a></li>
        <li><a href="/guide/icons/">Icons</a></li>
        <li><a href="/guide/color/">Color</a></li>
        <li><a href="/guide/components/">Components</a></li>
        <li><a href="/guide/modules/">Layout Modules</a></li>
        <li><a href="/guide/templates/">Templates</a></li>
    </ul>
</nav>