body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass \\Users\\trav\\Sites\\projects\\livewires-mixture\\source\\scss\\modules\\navigation\\offcanvas:1: error: invalid property name \A '; } 
                            
                            body * { 
                            display: none; 
                            } 