// LAYOUT

// This page is for setting up our general layout structure.
//
// If you can stuck to using rem units, you can resize the entire layout
// proportionally by manipulating the font-size on the html element.
html {
  font-size: 100%;
  min-height: 100%;
}

html,
body {
  position: relative;
}

// I use .row classes for edge-to-edge page sections width full-bleed images or background colors.
// A .container gives the content some margins and sets up the edges of the grid.
//
// Markup example:
// <section class="row">
//      <div class="container">
//          <section class="primary-content">
//              … Main page stuff …
//          </section>
//          <aside class="secondary-content">
//              … Secondary content (sidebar perhaps?) …
//           </aside>
//      </div>
//  </section>
.row {
  padding: rem($line 0);
}

//Creates margins with a half-gutter on either side.
.container {
  @extend %group; // Call in a clearfix style
  position:relative;
  margin: 0 $margin; // Apply our margin value to the sides of the container

  // Apply clearfix to immediate descenders of the container
  > * {
    @extend %group;
  }
}

// Edge to edge container on mobile
.container--mobile-full {
  margin: 0;
}

@media only screen and (min-width: $screenSmall) {
  .row {
    padding: rem($line*2 0); // Increase row padding for more space at wider sizes
  }
  // Bring margins back to our mobile-full styles
  .container--mobile-full {
    margin:0 $margin;
  }
  .container {
    // Add gutters to container's immediate children unless they have a .collapse class.
    > *:not(.collapse) {
      @include gutter;
    }
  }

  // Add some layout modules here. Here are some examples:
  //
  // Markup example:
  // <section class="row">
  //      <div class="container">
  //          <section class="primary-content">
  //              … Main page stuff …
  //          </section>
  //          <aside class="secondary-content">
  //              … Secondary content (sidebar perhaps?) …
  //           </aside>
  //      </div>
  //  </section>

  .primary-content {
    width:$c5*3; // Creates an object that's 3/5 the width of its container
    float:left;  // Float this block to the left

  }
  .secondary-content {
    width:$c5*2; // Creats an object that's 2/5 the width of the container
    float:right; // Floats this block to the right
  }
  .split-content {
    width:$c4*2; // Creates objects that are 1/2 the width of the container
    float:left;
  }
}

@media only screen and (min-width: $screenMedium) {
  html {
    font-size: 107.5%; // You can proportionally resize your entire layout with this line if you stick to rem units everywhere.
  }
  .container {
    margin: 0 $margin *2;  // If your layout feels like it's getting too wide, multiply the margins instead of adding a stuffy max-width.
  }
  .primary-content {
    // Change grid as you move up
    margin-left:$c7; // move content to the left by one 7-column unit
    width:$c7*3; // Three units of a 7-column grid
  }
  .secondary-content {
    width: $c4; // Uses a 1/4 unit-grid for a more complex compound grid https://gridsetapp.com/specs/gerstner/
  }
}

@media only screen and (min-width: $screenLarge) {

}
@media only screen and (min-width: $screenXlarge) {

}