{% block header %}
    {% include "modules/header" %}
{% endblock %}

{% block content %}
<section class="row">
    <div class="container">
        <section class="primary-content">

        </section>
    </div>
</section>
{% endblock %}