{% block content %}
    <div class="main container" id="main">

        <figure>
                <img src="http://placehold.it/2000x800&text=Hero">
        </figure>
        <h1>Simple in-browser wireframing</h1>
        <div class="content l10">

        </div>
        <hr />
        <section class="primary">

            <h2>Cool stuff</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
        <section class="secondary">
            <h2>Other cool stuff</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>

    </div>
{% endblock %}