{% block header %}
  {% include "modules/header" %}
{% endblock %}

{% block content %}
<header class="row">
  <div class="container">
    <h1>Live Wires User Interface Guide</h1>
    <p class="lead">Welcome to your very own Live Wires project. Live Wires is a framework made with Sass and Mixture that allows you to create responsive grey-box wireframes in HTML &amp SCSS. Create your wireframes right here. Then customize them, style them, and share them as living low-fidelity prototypes instead of static files you sweat over and later toss away.</p>
   <p>Today we stop making trash and start building a living, breathing beauty that will look and act the way it was imagined.</p>

    <h2>How do I use this guide?</h2>
    <p>Get more details on how to use Live Wires:</p>
   [button] <p><h ref="link to Live Wires guide online">Usage guidelines</a></p>
   [button] <p><h ref="link to Live Wires usage guide page">View the complete guide</a></p>
   [button] <p><h ref="link to a Live Wires example on the site">See an example</a></p>

{% endblock %}