{% block content %}
<div class="main" id="main">
	<section class="primary-content">
		<div class="container">
			<p>An empty, simple boilerplate for a fresh start.</p>
			<!-- TODO: Create my project :-) -->
		</div>
	</section>
</div>
{% endblock %}