{% block header %}
    {% include "modules/header" %}
{% endblock %}

{% block content %}
<section class="primary-content">
	<div class="container">
		<p>{{ global.intro }}</p>
		<!-- TODO: Create my project :-) -->
	</div>
</section>
{% endblock %}