{% block content %}
<section class="row">
    <h1>Your Live Wires Playground</h1>
    <p class="lead">Welcome to your very own Live Wires project. Live Wires is a framework made with Sass and <a href="http:mixture.io">Mixture</a> that allows you to create responsive grey-box wireframes in HTML &amp SCSS. Create your wireframes right here. Then customize them, style them, and share them as living low-fidelity prototypes instead of static files you sweat over and later toss away.</p>
   <p>Today we stop making trash and, instead, start building living, breathing beauties that will look and act the way they were imagined.</p>
   <p>HINT: When you're done, refine your <a href="link to Live Wires guide">styles and layouts</a>, and rejoice. You now have a complete foundation for a fully-functioning prototype without any wasted time or code.</p>

    <h2>How do I use this guide?</h2>
    <p>Get more details on how to use Live Wires:</p>
   [button] 	<p>
   				<a href="link to Live Wires guide online">Bookmark these helpful references</a>
   				</p>
   [button] 	<p>
   				<a href="link to Live Wires usage guide page">View your Live Wires guide</a>
   				</p>
   [button] 	<p>
   				<a href="link to a Live Wires example on the site">See a Live Wires example</a>
   				</p>

   <h2>Support</h2>
   <p>
   Submit your bug reports, pull requests, and questions to  <a href="https://github.com/louderthanten/livewires/issues">GitHub</a>.
   </p>
   <p>
   Questions? Visit <a href="http://livewires.io">Live Wires</a>.
   </p>
</section>
{% endblock %}