{% block content %}
<div class="main" id="main">
	<section class="primary-content">
		<div class="container">
			<p>{{ global.intro }}</p>
			<!-- TODO: Create my project :-) -->
		</div>
	</section>
</div>
{% endblock %}