// Text inputs. Hat tip to Inuit for the text-input class idea. http://inuitcss.com/
//
// Instead of a `[type]` selector for each kind of form input, we just use a
// class to target any/every one, e.g.:
// <input type="text" class="text-input" />
// <input type="email" class="text-input" />
// <input type="password" class="text-input" />

input,
textarea,
.text-input {
  -webkit-appearance: none;
  display:block;
  width:100%;
  outline:none;
  border: $rule;
  border-radius: $radius;
  font-family:$sans;
  padding:$line/2;

  &:active,
  &:focus {

  }

  &.error {

  }
}

textarea {
  min-height: $line*6;
}


input[type=checkbox],
input[type=radio] {
  margin-right: 0.5em;
}

select {

}

input[type=file] {
  @extend .text-input;
}

.search-input,
input[type=search] {
  @extend .text-input;
  overflow:hidden;
  box-sizing:border-box;

  &:focus,
  &:active {

  }
}