{% block styles %}
    {{ "guide.css" | asset_url | stylesheet_tag }}
{% endblock %}

{% block header %}
    {% include "guide/header" %}
{% endblock %}

{% block content %}
<header class="row">
    <div class="container">
        <h1>Live Wires User Interface Guide</h1>
        <p class="lead">Here you&rsquo;ll find the building block components of your site: everything from our typefaces, to content formatting, form elements, colour palettes, and iconography.</p>

        <p>Use this library as a blueprint and a reference for building additional design templates or scaling the design.</p>
    </div>
</header>
<section class="row">
    <div class="container">
        <h2>Sections</h2>

    </div>
</section>
<section class="row">
    <div class="container">
        <h2>Helpers</h2>
        <hr>
        <p>We have some handy little helpers to make your life a little easer. Check out <code>/source/scss/global/_helpers.scss</code> for more.</p>

        <h3><code>.hidden</code></h3>

        <p>Hide stuff from screenreaders and browsers.</p>

        <h3><code>.visuallyhidden</code></h3>

        <p>Hide stuff from browsers only.</p>

        <h3><code>.invisible</code></h3>

        <p>Hide but maintain layout</p>

        <h3><code>.pull-right</code></h3>

        <p>Float object to the right.</p>

        <h3><code>.pull-left</code></h3>

        <p>Float object to the left.</p>

        <h3><code>.text--right</code></h3>

        <p>Right-aligned text.</p>

        <h3><code>.text--left</code></h3>

        <p>Left-aligned text.</p>

        <h3><code>.text--center</code></h3>

        <p>Centered text.</p>

        <p>Use the SCSS <code>@extend</code> method on these, like:</p>

        <h3><code>@extend %group;</code></h3>

        <p>Add the <a href="http://nicolasgallagher.com/micro-clearfix-hack/">clearfix hack</a> to containing element. (adding a class of <code>clearfix</code> or <code>group</code> also works but isn&rsuo;t as cool).</p>

        <h3><code>@extend %vertical-align;</code></h3>

        <p>Magically <a href="http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/">verically align</a> objects inside of other objects.</p>

    </div>
</section>
{% endblock %}