{% block styles %}
    {{ "guide.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block page-class %}pg-modules{% endblock %}

{% block header %}
    {% include "guide/header" %}
{% endblock %}

{% block content %}
<header class="row">
  <div class="container">
    <h1>Layout modules</h1>
    <p class="lead">The building blocks of our templates. Place your major layout modules like site header, site footer, and major layout sections here.</p>
  </div>
</header>

<section class="row container">
  <h2>Template header</h2>
</section>
{% include "modules/header" %}

<section class="row container">
  <h2>Template footer</h2>
</section>
{% include "modules/footer" %}

<br>

{% endblock %}