{% block styles %}
    {{ "guide.css" | asset_url | stylesheet_tag }}
{% endblock %}

{% block header %}
    {% include "guide/header" %}
{% endblock %}

{% block content %}
<section class="row container">
  <h2>Tables</h2>
  <hr>
  <p>Sometimes we need to show tabular data. Here are some different ways to show it and make them responsive.</p>

  <h3>Invisible</h3>
  <table id="demo1" class="table--responsive">
    <thead>
        <tr>
          <th>Lorem</th>
          <th>Ipsum</th>
          <th class="numerical">Dolor</th>
          <th>Sit</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">03.788</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">32.210</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">47.797</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">09.640</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">12.117</td>
        <td>Lorem</td>
      </tr>
    </tbody>
  </table>

  <h3>Bordered</h3>
  <table class="table--bordered table--responsive" id="demo2">
    <thead>
        <tr>
          <th>Lorem</th>
          <th>Ipsum</th>
          <th class="numerical">Dolor</th>
          <th>Sit</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">03.788</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">32.210</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">47.797</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">09.640</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">12.117</td>
        <td>Lorem</td>
      </tr>
    </tbody>
  </table>
  <h3>Striped</h3>
  <table class="table--striped table--responsive" id="demo3">
    <thead>
        <tr>
          <th>Lorem</th>
          <th>Ipsum</th>
          <th class="numerical">Dolor</th>
          <th>Sit</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">03.788</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">32.210</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">47.797</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">09.640</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">12.117</td>
        <td>Lorem</td>
      </tr>
    </tbody>
  </table>
  <h3>Lined</h3>
  <table class="table--lined table--responsive" id="demo4">
    <thead>
        <tr>
          <th>Lorem</th>
          <th>Ipsum</th>
          <th class="numerical">Dolor</th>
          <th>Sit</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">03.788</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">32.210</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">47.797</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">09.640</td>
        <td>Lorem</td>
      </tr>
      <tr>
        <th>Sit</th>
        <td>Dolor</td>
        <td class="numerical">12.117</td>
        <td>Lorem</td>
      </tr>
    </tbody>
  </table>
</section>
{% endblock %}