{% block styles %}
  {{ "guide.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block page-class %}pg-templates{% endblock %}

{% block header %}
  {% include "guide/header" %}
{% endblock %}

{% block content %}
<header class="row">
  <h1>Templates</h1>
  <p class="lead">Some example templates</p>
</header>

<section class="row">
  <section class="primary-content">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/example/">Example</a></li>
      <li><a href="/404/">404</a></li>
    </ul>
  </section>
</section>

{% endblock %}

{% block footer %}
  {% include "guide/footer" %}
{% endblock %}
