{% block styles %}
    {{ "guide.css" | asset_url | stylesheet_tag }}
{% endblock %}

{% block header %}
    {% include "guide/header" %}
{% endblock %}

{% block content %}
<header class="row">
    <div class="container">
        <h1>Templates</h1>
        <p class="lead">Some example templates</p>
    </div>
</header>
<section class="row">
    <div class="container">
        <section class="primary-content">
            <ul>
                <li><a href="/example/">Example</a></li>
            </ul>
        </section>
    </div>
</section>

{% endblock %}