<footer class="footer row reverse">
  <div class="container">
    <p><small>&copy; {{ global.title }}. Rapidly built with <a href="http://www.livewires.io">Live Wires</a>.</small></p>
  </div>
</footer>